<h1>Nearest Station</h1>

<section class="search-results">
  <h2 id="station-name"><%= @station.name %></h2>
  <p id="address"><%= "Address: #{@station.address}" %></p>
  <p id="fuel-type"><%= "Fuel Type: #{@station.fuel_type}" %></p>
  <p id="access-times"><%= "Access Times: #{@station.access_times}" %></p>
  <p id="distance"><%= "Distance: #{@station.distance}" %></p>
  <p id="travel-time"><%= "Travel Time: #{@station.travel_time}" %></p>
  <br>

  <h3>Directions</h3>
  <article id="directions">
    <% @station.directions.each do |instruction| %>
      <p><%= "- #{instruction}\n" %></p>
    <% end %>
  </article>
</section>
